.auth-module {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.input-error {
  border: 1px solid $red;
}

.auth-form {
  width: 375px;
  border: 1px solid gray;
  font-size: 16px;
  box-shadow: 0 2px 12px rgb(0 40 117 / 6%);
}

.b-sidebar {
  width: auto;
  max-width: 100%;
  height: auto;
  max-width: 100%;
}

.sidebar-card {
  width: 300;
}

.el-table .cell {
  padding-left: 0px;
  padding-right: 0px;
}

.table.b-table {
  opacity: 1 !important;
  height: 100px !important;
  border: 1px solid #dee2e6;
}

.table th, .table td {
  vertical-align: middle;
}

.icon-button {
  cursor: pointer;
}